<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Second Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            .lead{
                padding-top:10px;
                padding-bottom:10px;
                padding-left: 6px;
                padding-right: 6px;
                margin-top: 10px;
                background-color: #f6f6f6;
                width: 100%%;
            }
        </style>
    </head>
    <body>
<h1>This is the details of the {{ lead.first_name }}</h1>
<p> This person age: {{lead.age}}
<ul>
    
    {% for Lead in Leads %}
        <div class="lead">
            <a href="/leads/{{ lead.pk }}">{{ lead.first_name}} {{lead.last_name}}</a>. Age: {{lead.age}}
        </div>
    {% endfor %}
        
</ul>
        <script src="" async defer></script>
    </body>
</html>